<style>
  a {
    color:black;
    /* a 중괄호는 선택자라고 한다. (selecter) */
    text-decoration: none;
  }

  h1 {
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }

  ol{
    border-right:1px solid gray;
    /*border-right때문에 선이 생긴다.*/
    width:100px;
    margin:0;
    padding:20px;
  }

  .saw {
    color:gray
  }

  #active{
    color:red
    <!-- .을 이용하면 맨 뒤에 있는 .선택자가 최종으로 적용된다. -->
  }
  /* 하지만 #을 이용하면 순서에 상관없이 그게 최종으로 적용이 된다. */

  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  #grid ol{
    /*ol중에 그리드 아이디 안에 있는*/
    padding-left:20px;
  }

  #grid #article{
    padding-left:20px;
  }

  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
  }

</style>
