<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>search ejs template</title>
  </head>
  <body>
    <h1> Searched about<%= search %></h1>
    <p>operation <%= search %></p>
    <p>black sheep <%= search %></p>
  </body>
</html>
